# Environment variables

# Deployment
PORT=5000
PROBE_USER_AGENT=kube-prob

# Prisma API Endpoint
PRISMA_ENDPOINT=http://localhost:44662
PRISMA_SECRET=

# Auth
JWT_PUBLIC_KEY=

# Default service
DEFAULT_SERVICE_NAME=

# REST API
REST_URL=https://multimedia.telesurtv.net

# RPC API
RPC_URL:https://localhost:9000
RPC_KEY=

# Apollo Engine
ENGINE_API_KEY=

# Cache proxy
CACHE_PROXY_URL=

# Other
DEFAULT_PAGE_SIZE=20
